<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1><%= @chatroom.name %></h1>
  <div class="messages" style="height: 1200px" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
  <h1>Chat</h1>
  <%= simple_form_for [@chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>

  <%= f.input :content,
    label: false,
    placeholder: "Message here...",
    wrapper_html: {class: "flex-grow-1"},
    input_html: {style: "background-color: white;"}
  %>
    <div class="inline-items">
      <%=  link_to "Go Back", new_user_session_path, class: "btn btn-primary" %>
      <%= f.submit "Send", class: "btn btn-primary" %>

    </div>
  </div>

<% end %>


</div>
